<div class="category-block p-24 br-12 bg-lightest-gray mb-32">
  <div class="title mb-16">
    <h5 class="fw-600 medium-black">Species</h5>
  </div>
  <ul class="list-unstyled mb-0">
    <li class="d-flex align-items-center justify-content-between mb-16" (click)="selectCategory(2)">
      <a href="javascript:void(0)">Dogs</a>
    </li>
    <li class="d-flex align-items-center justify-content-between mb-16" (click)="selectCategory(1)">
      <a href="javascript:void(0)">Cats</a>
    </li>
    <li class="d-flex align-items-center justify-content-between mb-16" (click)="selectCategory(null)">
      <a href="javascript:void(0)">Show All</a>
    </li>
  </ul>
</div>
