

.relative-right-email {
  position: relative;
  right: 0.65em; 
}
.relative-right-phone[_ngcontent-ng-c639657812] {
  position: relative;
  right: 2.55em;
}
.relative-right[_ngcontent-ng-c639657812] {
  position: relative;
  right: 7.45em;
}
