<h2 class="text-center my-4 d-flex flex-column align-items-center">
  <a routerLink="/adminDashboard" class="header-logo-box d-flex flex-column align-items-center">
    <img src="assets/media/logo.png" alt="logo" class="header-logo mb-3">
    <span>Rejected Posts</span>
  </a>
</h2>



<hr />

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Post ID</th>
      <th scope="col">User ID</th>
      <th scope="col">User Name</th>
      <th scope="col">Post Title</th>
      <th scope="col">Image</th>
      <th scope="col">Post Content</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let post of servicesArray">
      <td>{{ post.id }}</td>
      <td>{{ post.userId }}</td>
      <td>{{ post.userName }}</td>
      <td>{{ post.title }}</td>
      <td> <img *ngIf="post.image" [src]="'https://localhost:44354/api/Community/getImage/' + post.image" class="img-fluid mb-3 rounded" alt="Post Image" style="height:80px; width:80px;"></td>
      <td>{{ post.content }}</td>
      <td><span class="badge rounded-pill bg-danger text-dark">Rejected</span></td>
    </tr>
  </tbody>
</table>
