<hr />
<h2 class="text-center my-4"> Shelters</h2>
<hr />

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Shelter Name</th>
      <th scope="col">Shelter address</th>
      <th scope="col">Shelter phone</th>
      <th scope="col">Shelter email</th>
      <th scope="col">Shelter createdAt</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let Shelter of dataArray">
      <td>{{ Shelter.name }}</td>
      <td>{{ Shelter.address }}</td>
      <td>{{ Shelter.phone }}</td>
      <td>{{ Shelter.email }}</td>
      <td>{{ Shelter.createdAt }}</td>
      <td>
        <button type="button"
                class="btn btn-info"
                [routerLink]="['/adminDashboard/Edit Shelter', Shelter.shelterId]">
          Edit
        </button>
      </td>
    </tr>
  </tbody>
</table>
