<div class="row row-gap-4">
  <div class="col-xl-4 col-lg-6 col-md-6" *ngFor="let animal of animals">
    <div class="product-card bg-hex">
      <a href="shop-detail.html" class="img-box justify-content-start shine">
        <img [src]="animal.imageUrl" alt="{{ animal.name }}" />
      </a>
      <div class="text-box">
        <a href="shop-detail.html" class="title-1 h5 fw-600 mb-8">{{ animal.name }}</a>
        <p class="mb-24">{{ animal.temperament }}</p>
        <div class="pricing-block">
          <div class="d-flex align-items-center gap-12">
            <h6 class="fw-600">Age: {{ animal.age }}</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
