<div class="contact-wrapper pt-40 pb-80">
  <div class="container-fluid-12">
    <div class="row row-gap-4 align-items-center">
      <div class="col-xl-8">
        <div class="form-container">
          <form class="contact-form" (ngSubmit)="updateAdoption()" #editAdoptionForm="ngForm">
            <div class="form-wrapper bg-ter p-24 br-12">
              <h4 class="fw-700 medium-black mb-12">Application Details</h4>

              <!-- Application Details -->
              <div class="mb-4">
                <h5 class="fw-600"></h5>
                <p hidden>Application ID: {{adoption.applicationId}}</p>
              </div>

              <!-- User Details Section -->
              <div class="mb-4">
                <h5 class="fw-600">Adopter Information</h5>
                <div class="row row-gap-3">
                  <div class="col-md-6">
                    <div class="input-block">
                      <label class="form-label">User Name</label>
                      <input type="text" class="form-control form-control-2 bg-white"
                             [value]="user.userName" disabled style="color:gray">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-block">
                      <label class="form-label">User Email</label>
                      <input type="text" class="form-control form-control-2 bg-white"
                             [value]="user.email" disabled style="color:gray">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Animal Details Section -->
              <div class="mb-4">
                <h5 class="fw-600">Animal Information</h5>
                <div class="row row-gap-3">
                  <div class="col-md-6">
                    <div class="input-block">
                      <label class="form-label">Animal Name</label>
                      <input type="text" class="form-control form-control-2 bg-white"
                             [value]="animal.name" disabled style="color:gray">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="input-block">
                      <label class="form-label">Breed</label>
                      <input type="text" class="form-control form-control-2 bg-white"
                             [value]="animal.breed" disabled style="color:gray">
                    </div>
                  </div>
                </div>
              </div>

              <!-- Application Status -->
              <div class="row row-gap-3">
                <div class="col-md-6">
                  <div class="input-block">
                    <label for="status" class="form-label">Application Status </label>
                    <div class="input-with-icon">
                      <i class="fa-solid fa-pen-to-square"></i>
                      <select id="status" class="form-control form-control-2 bg-white"
                              [(ngModel)]="adoption.status" name="status" required>
                        <option *ngFor="let status of statuses" [value]="status">
                          {{status}}
                        </option>
                      </select>
                    </div>
                  </div>


                </div>
                <div class="col-md-6">
                  <div class="input-block">
                    <label class="form-label">Submitted Date</label>
                    <input type="text" class="form-control form-control-2 bg-white"
                           [value]="(adoption.submittedAt | date:'shortDate') + ' at ' + (adoption.submittedAt | date:'HH') + ':00'"
                           disabled style="color:gray">
                  </div>
                </div>
              </div>


              <!-- Adoption Message -->
              <div class="col-12 mt-3">
                <div class="input-block">
                  <label for="message" class="form-label">Adoption Message</label>
                  <input id="message" class="form-control form-control-1 bg-white" rows="1"
                         [(ngModel)]="adoption.message" name="message" disabled style="color:gray">
                </div>
              </div>

              <!-- Admin Notes -->
              <div class="col-12 mt-3">
                <div class="input-block">
                  <label for="adminNotes" class="form-label">Admin Notes</label>
                  <textarea id="adminNotes"
                            class="form-control form-control-2 bg-white"
                            rows="2"
                            [(ngModel)]="adoption.adminNotes"
                            name="adminNotes"
                            placeholder="Optional Message"
                            style="color:gray">
                  </textarea>
                </div>
              </div>

              <!-- Action Buttons -->
              <div class="mt-4 d-flex gap-3">
                <button type="submit" class="btn btn-primary" [disabled]="!editAdoptionForm.form.valid">
                  Update Application
                </button>
                <button type="button" class="btn btn-danger" (click)="deleteAdoption()">
                  Delete Application
                </button>
                <button type="button" class="btn btn-secondary" [routerLink]="['/adminDashboard/All Adoption']">
                  Back to List
                </button>
              </div>

              <div id="message" class="alert-msg mt-3"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://smtpjs.com/v3/smtp.js"></script>
