<section class="service-sec py-80" id="service-section">
  <div class="elements">
    <img src="assets/media/vector/foot-icon-1.png" alt="">
  </div>
  <div class="container-fluid-2">
    <div class="heading text-center mb-48">
      <h2 class="fw-700 medium-black mb-24">Experience Our Services</h2>
      <p>
        Pellentesque maximus augue orci, quis congue purus iaculison id.
        Maecenas eu lorem quisesdoi massal molestie vulputate in sitagi amet diam.
        Cras eu odio sit amet.
      </p>
    </div>
    <div class="row row-gap-4">
      <div class="col-xxl-3 col-xl-6 col-lg-6 col-md-6" *ngFor="let shelter of dataArray">
        <!-- Modify routerLink to pass the shelterId as a route parameter -->
        <a [routerLink]="['/Animal', shelter.shelterId]" class="service-card h-100 w-100 bg-ter br-32">
          <div class="icon-box mb-24">
            <img src="assets/media/vector/foot-icon-1.png" alt="">
          </div>
          <div class="content-box">
            <h5 class="fw-600 mb-24">{{ shelter.name }}</h5>
            <p class="dark-gray mb-24">{{ shelter.address }}</p>
            <div class="cus-arrow-btn">
              more detail
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M13.3545 17C13.3545 14 16.1545 10 19.3545 10M19.3545 10C17.5212 10 13.3545 9 13.3545 3M19.3545 10H0.354492"
                      stroke="#1E1F20" stroke-width="2" />
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
